<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reclaim.reclaim">

    <application
        android:name=".ReclaimApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reclaim">

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:authorities="com.reclaim.reclaim.fileprovider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Main Activity -->
        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Reclaim.Splash"
            android:name="com.reclaim.reclaim.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ============================================================
             Glance Widget Receiver
             ============================================================ -->
        <receiver
            android:name=".ui.widget.SoberTimeWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sober_time_widget_info" />
        </receiver>

    </application>

</manifest>
